:root{
    --primary:#42b983;
    --secundary:#2e4469;
    --background:#35495e;
    --black-text:rgb(61, 61, 61);
    --white-text:#ffffff;
    --button-hover:#38755a;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#mynetwork {
  width: 880px;
  height: 480px;
  border: 10px solid lightblue;
  background: #d1d1d1;
  background-size: auto;
  background-position:center;
}

body {
  margin: 0em;
 font-family: Arial, Helvetica, sans-serif;
  background-color:#f6fafb;
  
  
}

h1,h2,h3,h4,h5{
  font-family: 'Fjalla One', sans-serif;
}
.container-body{
  display:flex;
  justify-content: space-between;
}

nav{
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    color: var(--white-text);
    font-size: 2rem;
    letter-spacing: .7rem;
}

.drawer{
    color: var(--white-text);
    float: left;
    cursor: pointer;
    margin-left: 1rem;
    border: solid .1rem var(--white-text);
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox{
    display: none;
}
footer{
    background-color: var(--primary);
    color: var(--white-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
